<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>户籍管理系统</title>
    <link rel="stylesheet" href="/css/layui.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div th:replace="fragments/header::header"></div>

    <div th:replace="fragments/menu::menu"></div>

    <div class="layui-body">
        <div style="padding: 15px;">
            <form class="layui-form" th:action="@{/admin/updateChange}" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">省份</label>
                    <div class="layui-input-block">
                        <input type="text" name="province" required lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">城市</label>
                    <div class="layui-input-block">
                        <input type="text" name="city" required lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">区县</label>
                    <div class="layui-input-block">
                        <input type="text" name="district" required lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">街道</label>
                    <div class="layui-input-block">
                        <input type="text" name="street" required lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">门牌号</label>
                    <div class="layui-input-block">
                        <input type="text" name="houseNumber" required lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="submit" class="layui-btn" value="确定"/>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="fragments/footer::footer"></div>
</div>

<script src="/layui.js"></script>
<script>
    //JS
    layui.use(['element', 'layer', 'util'], function () {
        var element = layui.element
            , layer = layui.layer
            , util = layui.util
            , $ = layui.$;


        layui.use('form', function () {
            var form = layui.form;
            //监听提交
            form.on('submit(formDemo)', function (data) {
                // layer.msg(JSON.stringify(data.field));
                return false;
            });
        });

        layui.use('laydate', function () {
            var laydate = layui.laydate;
            //执行一个laydate实例
            laydate.render({
                elem: '#test1' //指定元素
                , format: 'yyyy年MM月dd日'
            });
        });

    });
</script>
</body>
</html>